<launch>
  <!-- <param name="/use_sim_time" value="true" /> -->

  <!-- Robot Model -->
  <param name="robot_description"             textfile="$(find lgsvl_utils)/urdf/lexus.urdf" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="log" />

  <!-- TF -->
  <node ns="tf_static" pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 /world /map 10" />
  <node ns="tf_static" pkg="tf" type="static_transform_publisher" name="map_to_odom"  args="0 0 0 0 0 0 /map /odom 10" />

  <!-- Rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find lgsvl_utils)/rviz/lgsvl.rviz" output="log" respawn="true" />

  <!-- Map Files Settings -->
  <arg name="map_name" default="BorregasAve" />
  <arg name="map_file_path" default="$(env HOME)/shared_dir/autoware-data/$(arg map_name)/data/map" />
  <!-- <arg name="pcd_map_path" default="$(arg map_file_path)/pointcloud_map/BorregasAve.pcd" /> -->
  <arg name="pcd_map_path" default="$(arg map_file_path)/pointcloud_map/town/pointpillar32.pcd" />
  <!-- <arg name="pcd_map_path" default="$(arg map_file_path)/pointcloud_map/town/nocrop64_town_mapping.pcd" /> -->
  <arg name="lanelet2_map_path" default="$(arg map_file_path)/lanelet2_map/$(arg map_name)_no_proj.osm" />
  <arg name="vector_map_folder" default="$(arg map_file_path)/vector_map" />

  <!-- Point Cloud Map -->
  <!-- <arg name="scene_num" default="noupdate" />
  <arg name="path_area_list" default='""' />
  <node pkg="map_file" type="points_map_loader" name="points_map_loader" output="log">
    <rosparam subst_value="true">
      area: $(arg scene_num)
      arealist_path: $(arg path_area_list)
      pcd_paths: [ $(arg pcd_map_path) ]
    </rosparam>
  </node> -->

  <node pkg="ndt_localizer" type="map_loader"    name="map_loader"    output="screen">
    <param name="pcd_path" value="$(arg pcd_map_path)"/>
    <param name="map_topic" value="/points_map"/>
    <param name="x" value="-8.67571258545" />
    <param name="y" value="51.6932792664" />
    <param name="z" value="-0.716696023941" />
    <param name="roll" value="0.0233773" />
    <param name="pitch" value="-0.0155752" />
    <param name="yaw" value="-1.82951" />
    </node>

  <!-- lanelet2 Map -->
  <node pkg="map_file" type="lanelet2_map_loader" name="lanelet2_map_loader" output="log">
    <param name="lanelet2_path" value="$(arg lanelet2_map_path)" />
  </node>
  <node pkg="map_file" type="lanelet2_map_visualization" name="lanelet2_map_visualization" output="log" />

</launch>